/*TODO: implement resizable fonts*/

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
} 

/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    /* box-sizing: border-box; */
    display: block;
    /* height: 15px; */
}

header {
    background: #101010;
    color: white;
    min-height: 80px;
    min-width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    z-index: 1;
}

header a {
    color: white;
    text-decoration: none;
}

header a{
    /* display: inline; */
    padding-right: 20px;
    padding-left: 20px;
}

header #group_name {
    float: left;
    font-size: 40px;
}

header nav {
    float: right;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
}

header a:hover {
    color: lightcyan;
    font-weight: bold;
}

#showcase {
    width: 100%;
    height: 90vh;
    margin-top: 60px;
    /* min-height: 512px; */
    /* min-height: 1080px;
    background: url("../images/quote\ background\ image.jpg") no-repeat 0 40px;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    position: relative; */

}

#background_image {
    /* positioning */
    background: url("../images/quote\ background\ image.jpg");
    width: inherit;
    height: inherit;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: -20px;

    /* filter */
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.menu-item span {
    color: orangered;
}
#description {
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 80%;
    height: 60%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#description h1 {
    margin-top: -100px;
    margin-bottom: 60px;
    font-size: 128px;
}

#description p {
    font-size: 36px;
    width: 80%;
}

/* #showcase h1 {
    position: absolute;
    margin-top: 100px;
    width: 100%;
    left: 0px;
    font-size: 64px;
} */

article#sidebar {
    float: left;
    width: 40%;
    /* box-sizing: border-box; */

}

article#sidebar h2 {
    margin-top: 20px;
    overflow: hidden;
}


footer {
    background-color: #585858 ;
    color: white;
    text-align: center;
    min-height: 15vh;
    min-width: 100%;
    overflow: hidden;
    padding-bottom: 40px;
    /* display: flex; */
    /* box-sizing: border-box; */
    position: relative;

}


.icon_container {
    float: right;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.icon_link {
    display: inline;
    /* width: 25%; */
}

.icon_link img {
    margin-top: 10px;
    width: 64px;
    height: 64px;
}

#copyrights {
    width: 100%;
    position: absolute;
    bottom: 10px;
}
