/*TODO: implement resizable fonts*/

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
} 

/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* box-sizing: border-box; */
    /* display: block; */
    /* height: 15px; */
}

header {
    background: #101010;
    color: white;
    min-height: 80px;
    min-width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 10;
    align-items: center;
    box-shadow: 0px 0px 8px 0px;
}

.menu-item a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    /* align-items: center; */
}

header h1 {
    font-size: 40px;
    align-items: flex-start;
}

header nav {
    /* padding-top: 12px;
    padding-bottom: 12px; */
    display: flex;
    font-size: 20px;
    margin-left: 5%;
    /* align-items: center; */
}

header a:hover {
    color: lightcyan;
    font-weight: bold;
}

section {
    position: relative;
    min-height: 600px;
}
#showcase {
    min-width: 100%;
    height: 90vh;
    margin-top: 60px;
    /* min-height: 512px; */
    /* min-height: 1080px;
    background: url("../images/quote\ background\ image.jpg") no-repeat 0 40px;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    position: relative; */
}

#background_image {
    /* positioning */
    background: url("../images/quote\ background\ image.jpg");
    width: inherit;
    height: 90vh;
    min-height: 600px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: -20px;
    z-index = -1;
    /* filter */
    filter: blur(4px);
    -webkit-filter: blur(4px);
    position: relative;
}

.menu-item span {
    color: orangered;
}
#description {
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; 
    width: 80%;
    height: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#description h1 {
    font-size: 12vw;
    width: 80%;
    overflow: hidden;
    margin-top: -60px;
    margin-bottom: 20px;
}

#description p {
    font-size: 2vw;
    width: 80%;
    margin-top: 0px;

} 

footer {
    background-color: #202020 ;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 100%;
    min-width: 400px;
    padding-bottom: 40px;
    /* display: flex; */
    /* box-sizing: border-box; */
    position: relative;
    z-index: 1;
    overflow: hidden;

}

footer .container {
    margin-top: 20px;
    align-items: flex-start;
    justify-content: space-around;
}

.icon_container {
    min-width: 50%;
    /* margin: auto; */
    /* margin-top: 20px; */
    /* display: inline; */
}

.icon_container img {
    margin-top: 10px;
    width: 64px;
    height: 64px;
}

#sidebar {
    max-width: 50%;
}

#copyrights {
    width: 100%;
    position: absolute;
    bottom: 10px;
    font-size: 12px;
}

@media(min-width: 1000px) {
    #description h1 {
        font-size: 128px;
    }
}

@media(max-width: 1200px) {
    #description p {
        font-size: 20px;
    } 
}

@media(max-device-width: 800px), (max-width: 800px) {
    .container {
        display: block;
        /* margin: auto; */
        /* box-sizing: border-box; */
        /* display: block; */
        /* height: 15px; */
    }
    
    header h1 {
        text-align: center;
    }

    .menu-item a{
        width: 33%;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        /* align-items: center; */
    }

    header nav {
        margin-left: 0px;
    }

    footer .container {
        flex-direction: column;
        margin-top: 0px;
        justify-content: space-between;
        align-items: center;         
    }

    #sidebar {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }



    
}
