.logo-title {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
    color: #00ff00;
    -webkit-text-stroke: 1px black;
    max-height: 80px;
}

.menu-item {
    overflow: hidden;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    font-size: 24px;
    font-weight: bold;
    padding: 0.5em 1em;
    color: #00ff00;
    -webkit-text-stroke: 1px black;
}

body {
    background-image: url("../images/stonks\ background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}